
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.space-around {
    justify-content: space-around;
}

.bg {
    background-image: url("../image/bg.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    direction: rtl;
    font-size: 18px;
    background: inherit;
    color: white;
    width: 400px;
    border: none;
    border-radius: 0;
    /*border-bottom: 1px solid white;*/
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

.border-bottom {
    border-bottom: 1px solid white;
}

.pass-rectangle {
    width: 12px;
    height: 6px;
    padding: 1px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    display: inline-flex;
    color: black;
    font-size: 5px;
    bottom: 6px;
    right: 12px;
    border: solid 1px #6c7a7d;
}

.my-font {
    font-size: 30px;
    font-family: 'Lateef', cursive;
}

.h1-font-size {
    font-size: 60px;
    font-weight: normal;
}

.h2-font-size {
    font-size: 40px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d89e4;
    width: 438px;
    height: 60px;
    border-radius: 10px;
}

.row {
    flex-direction: row;
    justify-content: space-between;
}

.font-size-small {
    font-size: 24px;
}

label {
    margin: 0;
}

.align-items-center {
    justify-content: normal;
    align-items: center;
}

.text-decoration {
    text-decoration-line: none;
    color: white;
}

.label-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox {
    display: none;
}

.checkmark {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #fff;
    margin: 2px 2px 2px 4px;
}

.label-checkbox input:checked ~ .checkmark {
    background-color: #fff;
}

.label-checkbox .checkmark:after {
    content: "";
    display: none;
    margin:2px 0 0 5px;
    width: 5px;
    height: 12px;
    border: solid #1d89e4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.label-checkbox input:checked ~ .checkmark:after {
    display: block;
}